<div class="relative mx-auto max-w-4xl">
  <!-- Current Design Display -->
  <div class="shadow-lg border-0 rounded-lg">
    <div class="p-0">
      <div class="gap-0 grid md:grid-cols-2">
        <!-- Imagen -->
        <div
          class="relative flex justify-center items-center bg-gradient-to-br from-gray-100 to-gray-200 rounded-t-lg md:rounded-t-none md:rounded-l-lg h-80 md:h-96 overflow-hidden"
        >
          @if (itemSelected()?.imageUrl) {
          <picture class="flex justify-center items-center w-full h-full">
            <img
              [src]="itemSelected()?.imageUrl"
              [alt]="`${itemSelected()?.title} Image` || 'Design Image'"
              class="rounded-t-lg md:rounded-t-none md:rounded-l-lg w-full h-full object-cover"
            />
          </picture>
          } @else {

          <!-- TODO: Become a shared component to use on other sides-->
          <div
            class="flex flex-col justify-center items-center gap-4 w-full h-full"
          >
            <fa-icon
              [icon]="['fas', 'cloud']"
              size="5x"
              class="text-gray-400"
            />
            <div class="text-center">
              <p class="font-extrabold text-gray-500 text-5xl">404</p>
              <p class="text-gray-400 text-sm">Not Found</p>
            </div>
          </div>
          }
        </div>
        <!-- Contenido -->
        <div class="flex flex-col justify-center p-8 h-80 md:h-96">
          <div class="flex flex-wrap gap-1 mb-4 max-w-xs min-h-[32px]">
            @for (item of itemSelected()?.badges; track item) {
            <app-badge [label]="item || ''" />
            }
          </div>

          <h3
            class="mb-4 max-w-xs min-h-[32px] font-bold text-gray-900 text-2xl truncate"
            [attr.title]="itemSelected()?.title"
            style="line-height: 2rem"
          >
            {{ itemSelected()?.title || "No Title Available" }}
          </h3>
          <p
            class="mb-6 max-w-xs min-h-[72px] text-gray-600 line-clamp-3"
            [attr.title]="itemSelected()?.description"
          >
            {{ itemSelected()?.description || "No description available." }}
          </p>
          <div class="flex justify-between items-center min-h-[40px]">
            <span
              class="max-w-[150px] font-bold text-purple-600 text-3xl truncate"
              [attr.title]="
                itemSelected()?.price | currency : 'USD' : 'symbol' : '1.2-2'
              "
              >{{
                itemSelected()?.price | currency : "USD" : "symbol" : "1.2-2"
              }}</span
            >
            <button
              class="bg-gradient-to-r from-purple-600 hover:from-purple-700 to-pink-600 hover:to-pink-700 px-3 py-2 rounded-lg min-w-[150px] max-w-[180px] text-white truncate cursor-pointer"
              [attr.title]="'Solicitar Cotización'"
            >
              Solicitar Cotización
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <button
    (click)="prevSlide()"
    class="top-1/2 left-4 z-10 absolute flex justify-center items-center bg-white hover:bg-gray-50 shadow-lg rounded-full w-12 h-12 transition-colors -translate-y-1/2 cursor-pointer"
  >
    <fa-icon [icon]="['fas', 'chevron-left']" class="w-6 h-6 text-gray-600" />
  </button>
  <button
    (click)="nextSlide()"
    class="top-1/2 right-4 z-10 absolute flex justify-center items-center bg-white hover:bg-gray-50 shadow-lg rounded-full w-12 h-12 transition-colors -translate-y-1/2 cursor-pointer"
  >
    <fa-icon [icon]="['fas', 'chevron-right']" class="w-6 h-6 text-gray-600" />
  </button>

  <!-- Dots Indicator -->
  <div class="flex justify-center space-x-2 mt-8">
    @for (item of items(); track item.id; let index = $index) {
    <button
      type="button"
      (click)="currentSlide.set(index)"
      class="w-3 h-3 rounded-full transition-colors
          focus:outline-none
          {{
        index === currentSlide()
          ? 'bg-purple-600'
          : 'bg-gray-300 hover:bg-gray-400'
      }}"
      [attr.aria-label]="'Ir al slide ' + (index + 1)"
    ></button>
    }
  </div>
</div>
